---
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { buttonVariants } from '../components/ui/button'
import { PROJECTS } from '../lib/constants'

// Define the Project interface
interface Project {
  name: string;
  description: string;
  html_url: string;
  hosted_url: string;
  languages: string[];
}

// Function to load projects from the local JSON file
async function getProjects(): Promise<Project[]> {
  try {
    return PROJECTS.map((repo: any) => ({
      name: repo.name,
      description: repo.description || "No description provided",
      html_url: repo.html_url,
      hosted_url: repo.hosted_url || "No hosted link available",
      languages: repo.languages || ["Not specified"]
    }));
  } catch (error) {
    console.error("Error loading projects data:", error);
    return [];
  }
}

const projects: Project[] = await getProjects();
---

<BaseLayout
  title="Portfolio"
  description="My Projects"
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2 class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0 text-center">
        My Projects
      </h2>
    </TopLayout>    
    <BottomLayout>
      <div class="flex flex-wrap justify-center gap-4">
        {projects.map((project) => (
          <ProjectCard
            href={project.html_url}
            hostedUrl={project.hosted_url}
            heading={project.name}
            subheading={project.description}
            altText={`${project.name} repository card`} 
            class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
            languages={project.languages}
          />
        ))}
      </div>
      <br />
      <div class="flex flex-col items-center justify-center px-8">
        <a href="https://alvindennis.vercel.app/" rel="noreferrer" class={buttonVariants()}>
       Go back home</a>
      </div>
    </BottomLayout>
  </main>
</BaseLayout>

