---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { Education } from "@/types";

interface Props {
  education: Education[];
}

const { education } = Astro.props;
---

<Section text="Education" href="education">
  {
    education.map(({ name, position, start, end, link, logo }) => (
      <div class="mb-10">
        <div class="mb-1.5 flex items-center gap-3">
          <a href={link} target="_blank" rel="noopener noreferrer">
            <Image
              src={logo}
              alt={name?.[0] ?? ""}
              width="60"
              height="60"
              class="rounded-full"
            />
          </a>
          <h3 class="text-2xl font-semibold text-black dark:text-white">
            {name}
          </h3>
        </div>
        <div class="flex flex-col items-start pb-5 text-black dark:text-white">
          <h4 class="mb-0.5 text-xl font-medium">
            {position}
          </h4>
          <span class="pb-[2px] text-sm">
            {start} — {end}
          </span>
        </div>
      </div>
    ))
  }
</Section>
