---
import Section from "./Section.astro";
import type { Experience } from "@/types";

interface Props {
  experience: Experience[];
}

const { experience } = Astro.props;
---

<Section text="Work Experience" href="experience">
  {
    experience.map(({ company, position, start, end, link, logo }) => (
      <div class="mb-10">
        <div class="mb-1.5 flex items-center gap-3">
          {logo && link ? (
            <a href={link} target="_blank" rel="noopener noreferrer">
              <img
                src={logo}
                alt={company + " logo"}
                width="40"
                height="40"
                class="rounded-full"
              />
            </a>
          ) : logo ? (
            <img
              src={logo}
              alt={company + " logo"}
              width="40"
              height="40"
              class="rounded-full"
            />
          ) : null}
          <h3 class="font-calsans text-2xl font-semibold text-black dark:text-white">
            {company}
          </h3>
        </div>
        <div class="flex flex-col items-start pb-5">
          <h4 class="mb-0.5 font-calsans text-xl font-medium text-primary">
            {position}
          </h4>
          <span class="text-black pb-[2px] text-sm dark:text-white">
            {start} — {end}
          </span>
        </div>
        {/* {Array.isArray(summary) ? (
          <ul class="list-none">
            {summary.map((log) => (
              <li class="relative mb-3 pl-8 text-base text-neutral before:absolute before:top-1 before:left-0 before:content-[url(/check.svg)]">
                {log}
              </li>
            ))}
          </ul>
        ) : (
          <p class="text-base text-neutral">{summary}</p>
        )} */}
      </div>
    ))
  }
</Section>
