---
import type { HeroProps } from "@/types";
import { Image } from "astro:assets";

type Props = HeroProps;

const { name, image, specialty, summary, email } = Astro.props;
---

<section class="py-24 md:py-32" id="#hero">
  <div
    class="h-80 w-64 flex-shrink-0 rotate-[5deg] bg-white p-4 md:rotate-[7deg]"
  >
    <Image
      class="object-cover"
      src={image}
      width="260"
      height="260"
      alt={name}
    />
  </div>
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary sm:text-5xl md:text-6xl"
  >
    {specialty}
  </p>
  <p class="mb-16 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>

  <a
    class="inline-block rounded-full bg-primary px-8 py-5 text-sm leading-5 font-medium text-[#fff]"
    href={`mailto:${email}`}>Get in Touch</a
  >
</section>
