---
import type { HeroProps } from "@/types";
import { Image } from "astro:assets";

type Props = HeroProps;

const { name, image, specialty, summary, email, resume } = Astro.props;
---

<section
  class="bg-white py-24 text-black md:py-32 dark:bg-neutral-950 dark:text-white"
  id="#hero"
>
  <div class="flex justify-center">
    <div
      class="h-80 w-64 flex-shrink-0 rotate-[5deg] bg-white p-4 md:rotate-[7deg] dark:bg-neutral-900"
    >
      <Image
        class="object-cover"
        src={image}
        width="250"
        height="250"
        alt={name}
      />
    </div>
  </div>
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-neutral-900 sm:text-8xl md:mb-0 md:text-9xl dark:text-white"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-blue-500 sm:text-5xl md:text-6xl dark:text-blue-500"
  >
    {specialty}
  </p>
  <p
    class="mb-16 text-base font-normal md:text-lg"
  >
    {summary}
  </p>

  <div class="flex flex-col items-center justify-center gap-4 sm:flex-row">
    <a
      class="inline-block rounded-full bg-blue-600 px-8 py-5 text-sm leading-5 font-medium text-white focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:outline-none"
      href={`mailto:${email}`}
    >
      Get in Touch
    </a>
    <a
      class="inline-block rounded-full bg-black px-8 py-5 text-sm leading-5 font-medium text-white focus:ring-2 focus:ring-neutral-800 focus:ring-offset-2 focus:outline-none dark:bg-white dark:text-black dark:focus:ring-neutral-400"
      href={resume.href}
      target="_blank"
      rel="noopener noreferrer"
    >
      Resume
    </a>
  </div>
</section>
