---
import RotatingText from "@/components/ui/RotatingText";
import { Image } from "astro:assets";

const { name, image, specialty, summary, currentWork, location } = Astro.props;
---

<section
  class="bg-white py-12 text-black md:py-20 dark:bg-neutral-950 dark:text-white"
  id="#hero"
>
  <div class="flex justify-center">
    <div
      class="mb-4 inline-block flex-shrink-0 rotate-[5deg] bg-black p-4 sm:mb-6 md:h-80 md:w-64 md:rotate-[7deg] dark:bg-white"
    >
      <Image
        class="object-cover md:h-full md:w-full"
        src={image}
        width="190"
        height="190"
        alt={name?.[0] ?? ""}
      />
    </div>
  </div>

  <div class="flex flex-col items-center justify-center text-center">
    <h1
      class="mb-1 text-4xl text-neutral-900 sm:text-7xl md:text-8xl dark:text-white"
    >
      {name}
    </h1>

    <div
      class="mt-2 mb-4 text-2xl font-bold text-blue-500 sm:text-4xl md:text-5xl dark:text-blue-500"
    >
      <RotatingText
        texts={specialty}
        mainClassName="inline font-bold"
        splitBy="words"
        rotationInterval={2000}
        auto={true}
        client:load
      />
    </div>

    <p class="mb-5 text-lg font-normal sm:mb-8 md:text-xl">{summary}</p>

    <div
      class="flex flex-col items-center justify-center gap-1 text-black dark:text-white"
    >
      <div class="text-center sm:text-left">
        <span class="font-semibold text-neutral-500 dark:text-neutral-400"
          >Currently working as:</span
        >
        <span class="ml-1 font-medium">{currentWork ?? "…"}</span>
      </div>

      <div
        class="flex flex-col items-center gap-1 font-mono text-sm sm:flex-row sm:items-center sm:justify-center sm:gap-2 sm:text-base"
      >
        <span id="current-time">--:--:--</span>
        <span class="sm:ml-1">{location}</span>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  function updateTime() {
    const now = new Date();
    const options = {
      weekday: "short",
      year: "numeric",
      month: "short",
      day: "numeric",
      hour: "numeric",
      minute: "numeric",
      second: "numeric",
      hour12: true,
    };
    const timeString = now.toLocaleString("en-US", options);
    document.getElementById("current-time").textContent = timeString;
  }
  updateTime();
  setInterval(updateTime, 1000);
</script>
