---
import { Card } from './ui/card'
import { Badge } from "./ui/badge"
import { Star } from "lucide-react"

interface Props {
  href: string;
  heading: string;
  subheading: string;
  altText: string;
  class?: string;
  stars: number;
  language: string;
}

const { href, heading, subheading, imagePath, altText, class: className, stars, language } = Astro.props;
---

<a href={href} class={`block ${className}`} target="_blank" rel="noopener noreferrer">
  <Card className="h-full transform-y-[-40%] align-start perspective-1200 group relative flex-none transform justify-start overflow-hidden shadow-lg transition duration-75 ease-in-out cursor-pointer hover:border-primary">
    <img
      src={imagePath}
      alt={altText}
      class="h-48 w-full rounded-t-lg object-cover"
      loading="eager"
    />
    <div class="flex flex-col gap-y-0.5 px-5 py-4 flex-grow">
      <h3 class="text-lg font-medium">{heading}</h3>
      <p class="text-muted-foreground flex-grow">{subheading}</p>
      <div class="flex justify-between items-center mt-2">
        <Badge variant="secondary">{language}</Badge>
        <div class="flex items-center">
          <Star className="w-4 h-4 mr-1" />
          <span>{stars}</span>
        </div>
      </div>
    </div>
  </Card>
</a>