---

import { Card } from './ui/card';
import { Badge } from "./ui/badge";

interface Props {
  href: string;
  hostedUrl: string;
  heading: string;
  subheading: string;
  altText: string;
  className?: string;
  languages: string[];
}

const { href, hostedUrl, heading, subheading, altText, className, languages } = Astro.props;
---

<a href={href} class={`block ${className}`} target="_blank" rel="noopener noreferrer">
  <Card className="h-64 w-64 transform-y-[-40%] align-start perspective-1200 group relative flex-none justify-start overflow-hidden shadow-lg transition duration-75 ease-in-out cursor-pointer hover:border-primary">
    <div class="flex flex-col gap-y-0.5 px-4 py-4 flex-grow">
      <h3 class="text-lg font-medium">{heading}</h3>
      <p class="text-muted-foreground flex-grow">{subheading}</p>

      <div class="flex flex-wrap gap-2 mt-2">
        {languages.map((language) => (
          <div key={language}>
            <Badge variant="secondary">
              {language}
            </Badge>
          </div>
        ))}
      </div>

      {hostedUrl && (
        <a href={hostedUrl} target="_blank" rel="noopener noreferrer" class="mt-4 text-primary font-medium">
          View Hosted Project
        </a>
      )}
    </div>
  </Card>
</a>

