---
import Header from "@/components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "../lib/constants.ts";
import Footer from "@/components/Footer.astro";

const {
  title,
  description,
  siteLogo,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = SITE_CONFIG;



const ogImgUrl = canonicalURL + socialImage;
---

<!doctype html>
<html lang={lang} class="scroll-pt-16 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImgUrl} />
  </head>
  <body class="bg-black font-sans">
    <Header siteLogo={siteLogo} navLinks={navLinks} />
    <main class="mx-auto max-w-3xl px-5">
      <slot />
    </main>
    <Footer author={author} socialLinks={socialLinks} />
  </body>
</html>
